.pixgrabber_holder{
    border-radius: 40px;
    padding: 10px;
    position: relative;
}

.pixgrabber_holder:hover{
    opacity: 0.8;
    cursor: pointer;
}

.pixgrabber_overlay:hover{
    cursor: pointer;
}

.pixgrabber_overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(22, 83, 163, 0.5);
    display: none;
}