.pixgrabber_frame {
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    top: auto !important;
    width: 100% !important;
    height: 340px !important;
    max-height: 82vh !important;
    min-height: 52px !important;
    border: 0 !important;
    overflow: hidden !important;
    background-color: white !important;
    box-shadow: 0 -8px 26px rgba(0, 0, 0, 0.20) !important;
    z-index: 2147483647 !important;
}
